body {
    font-family: Helvetica, Arial;
    margin: 0px;
    font-size: 1.5vw;
}

#logo {
    margin: 0px;
    font-family: "Fredoka One", sans-serif;
    width: 16%;
    border-radius: 30%;
}

ul{
    margin: 0px;
}

#main-header {
    background-color: rgb(165, 243, 243);
    color: rgb(0, 17, 255);
    display: flex;
    align-items: center;
    justify-content:space-between;
}

#menu {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    padding: 8px;
    margin: 16px;
    
}


.navbutton {
    text-decoration: none;
    padding: 12px;
    border: 1px solid rgb(0, 17, 255);
    border-radius: 10%;
}


#main {
    display: flex;
}


img {
    float: left;
    width:  250px;
    height: 250px;
    object-fit: cover;
}

#products {
    display: grid;
    grid-template-areas:
    "product_1 product_2"
    "product_3 product_4"
    "product_5 product_6";
}


form{
    text-align: center;
}


footer {
    background-color: rgb(165, 243, 243);
    color: rgb(0, 17, 255);
    display: flex;
}

#footer-menu {
    list-style: none;
    text-decoration: none;
    display: flex;
    
}

#footer-menu > div > li {
    margin-right: 20px;
    text-decoration: none;
}
